body {
  background-color: #228CD9;
  font-family: sans-serif;
}

.bold {
  font-weight: bold;
}

.keyword {
  color: #5342F0;
}

.keywordHigh {
  color: #C12B70;
}

.keywordLow {
  color: #7E379C;
}

h2 {
  font-size: 1.5em;
  cursor: default;
}

h1 {
  cursor: default;
  margin-top: 0;
}

p {
  cursor: default;
}

.container {
  margin: 0 auto;
  width: 90%;
  min-width: 700px;
  background-color: #18F0B3;
  padding-top: 10px;
  padding-bottom: 30px;
  -webkit-box-shadow: 0px 2px 20px 1px rgba(104,115,122,1);
  -moz-box-shadow: 0px 2px 20px 1px rgba(104,115,122,1);
  box-shadow: 0px 2px 20px 1px rgba(104,115,122,1);
}

.title {
  padding: 20px 0;
  margin-bottom: 0;
  text-align: center;
  color: white;
  -webkit-text-shadow: 1px 1px rgba(104,115,122,0.55);
  -moz-text-shadow: 1px 1px rgba(104,115,122,0.55);
  text-shadow: 1px 1px rgba(104,115,122,0.55);
  font-family: "Happy Monkey", sans-serif;
  font-size: 4em;
}

.currentWeather, .historyList {
  width: 60%;
  -webkit-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  -moz-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
}

/* Search */

.search {
  margin: 20px auto;
  width: 65%;
}

.search__searchBar {
  min-width: 250px;
  height: 30px;
  padding: 2px 100px 2px 5px;
  border-radius: 5px;
}

.search__searchBar:focus {
  outline: none;
}

.search__geolocateButton {
  margin-left: -100px;
  height: 37px;
  width: 99px;
  color: white;
  border: 0;
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-top-right-radius: : 5px;
}

/* Permission */

.unitChoice {
  border-radius: 5px;
  float: right;
  padding: 0 5px;
  cursor: pointer;
  background-color: #228CD9;
  color: white;
  margin: 5px;
  -webkit-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  -moz-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
}

.unitChoice:hover {
  background-color: #4A9BD9;
}

.unitChoice__unit {
  font-size: 1.25em;
  vertical-align: middle;
  padding: 5px;
}

.permission {
  margin: 0 auto;
  width: 70%;
}

.permission__no, .permission__yes {
  border: 0;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #228CD9;
  color: white;
  margin: 5px;
  -webkit-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  -moz-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
}

.permission__no:active, .permission__yes:active {
  outline: none;
}

.permission__yes:focus, .permission__no:focus {
  outline: none;
  background-color: #4A9BD9;
}

.permission__no:hover, .permission__yes:hover {
  background-color: #4A9BD9;
}

.permission__no {
  float: right;
  margin-right: 70px;
}

.permission__yes {
  margin-left: 70px;
}

@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
    min-width: 24px;
    min-height: 24px;
}

.spinner:before {
    content: "Loading…";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: -24px;
}

.spinner:not(:required):before {
    content: "";
    border-radius: 50%;
    border: 1px solid #f6f;
    border-top-color: #0e0;
    border-right-color: #0dd;
    border-bottom-color: #f90;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}

/* Units */

.unitChoice {
  border-radius: 5px;
  float: right;
  padding: 0 5px;
  cursor: pointer;
  background-color: #228CD9;
  color: white;
  margin: 5px;
  -webkit-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  -moz-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
}

.unitChoice__unit {
  font-size: 1.25em;
  vertical-align: middle;
  padding: 5px;
}

.unitChoice__arrow{
  padding: 5px;
  height: 18px;
  vertical-align: middle;
}

/* Options */

.optionsBar {
  width: 60%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  cursor: pointer;
  background-color: #228CD9;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  -moz-box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
  box-shadow: 3px 4px 21px -7px rgba(136,163,155,1);
}


.optionsBar__weather, .optionsBar__searched {
  flex: 1;
  text-align: center;
  vertical-align: middle;
  padding-bottom: 15px;
  padding-top: 15px;
}

.optionsBar__weather:hover, .optionsBar__searched:hover {
  background-color: #4A9BD9;
}

.optionsBar__weather:active, .optionsBar__searched:active {
  background-color: #4A9BD9;
}

/* Current Weather */

.currentWeather {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px auto 50px auto;
  padding-bottom: 10px;
  border-radius: 5px;
}

.currentWeather__now {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.currentWeather__place {
  text-align: center;
  padding-top: 40px;
}

.currentWeather__now--top {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  float: left;
  flex: 1;
}

.currentWeather__now--top div {
  flex: 1;
  text-align: center;
}

.currentWeather__now__icon {
  margin: 0 auto;
  height: 150px;
  width: 150px;
}

.currentWeather__now__temp {
  font-size: 4em;
  flex: 1;
  text-align: center;
  color: #5342F0;
}

.currentWeather__now--bottom {
  clear: both;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  flex: 1;
}

.currentWeather__now__summary {
  text-align: center;
  flex: 1;
}

.currentWeather__now__likeTemp {
  font-size: 1em;
  flex: 1;
  text-align: center;
}

.currentWeather__more {
  margin: 40px 10%;
  clear: both;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  border: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: rgba(24, 240, 179, 0.2);
  background: -webkit-linear-gradient(rgba(24, 240, 179, 0.2), transparent);
  background: -o-linear-gradient(rgba(24, 240, 179, 0.2), transparent);
  background: -moz-linear-gradient(rgba(24, 240, 179, 0.2), transparent);
  background: linear-gradient(rgba(24, 240, 179, 0.2), transparent);
}

.currentWeather__more--top {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.currentWeather__more__precip {
  flex: 1;
  text-align: center;
}

.currentWeather__more__humidity {
  flex: 1;
  text-align: center;
}

.currentWeather__more__wind {
  flex: 1;
  text-align: center;
}

.currentWeather__more--center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
}

.currentWeather__more__title {
  margin-left: 30px;
  flex: 1;
}

.currentWeather__historicData__button {
  cursor: pointer;
  font-size: 0.85em;
  color: #228CD9;
  text-align: right;
  flex: 1;
  padding-right: 30px;
}

.currentWeather__historicData__button:hover, .currentWeather__historicData__button:active {
  text-decoration: underline;
}

.currentWeather__more--bottom {
  flex: 1;
  padding: 0 40px;
}

.showWeek {
  margin: 0 auto 25px auto;
  width: 20%;
  cursor: pointer;
}

.showWeek:hover, .showWeek:active {
  border-radius: 8px;
  -webkit-box-shadow: 0px 4px 21px -7px rgba(136,163,155,1);
  -moz-box-shadow: 0px 4px 21px -7px rgba(136,163,155,1);
  box-shadow: 0px 4px 21px -7px rgba(136,163,155,1);
}

.showWeek__img {
  display: block;
  margin: 0 auto;
  height: 30px;
}

/* Weekday Weather */

.weatherWeek {
  margin: 40px 10%;
  border-radius: 5px;
}

.weekday__bit {
  background-color: rgba(24, 240, 179, 0.2);
  cursor: pointer;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 2px;
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weekday__bit:hover, .weekday__bit:active {
  background-color: #18F0B3;
}

.weekday__bit__left {
  margin: 0;
  padding: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  flex: 2;
}

.weekday__bit__left__day, .weekday__bit__left__date {
  margin: 0;
  cursor: pointer;
}

.weekday__bit__left__day {
  margin-bottom: 10px;
}

.weekday__bit__center {
  margin: 0;
  flex: 2;
  height: 75px;
}

.weekday__bit__center--img {
  display: block;
  height: 75px;
  margin: 0 auto;
}

.weekday__bit__right {
  flex: 3;
}

.weekday__bit__right--temps {
  font-size: 2em;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

/* Weekday Detail */

.weekdayDetail {
  margin: 40px 10%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.weekdayDetail__likeTemps {
  flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  text-align: center;
  margin-bottom: 25px;
}

.weekdayDetail__likeTemps--high, .weekdayDetail__likeTemps--low {
  flex: 1;
}

.weekdayDetail__summary {
  background-color: rgba(24, 240, 179, 0.1);
  padding: 15px;
  cursor: default;
}

.weekdayDetail__precip {
  text-align: center;
  margin: 35px 20% 0 20%;
  cursor: default;
}

.weekdayDetail__more {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  margin-top: 15px;
}

.weekdayDetail__more__data {
  flex: 1;
  text-align: center;
}

/* History */

.historyList {
  background-color: rgba(255, 255, 255, 0.9);
  margin: 10px auto;
  min-height: 400px;
  border-radius: 5px;
}

.historyItem {
  border-bottom: #18F0B3 2px solid;
  padding: 20px 50px;
  text-align: center;
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.historyItem:hover {
  background-color: rgba(83, 66, 240, .2);
}

.historyItem:active {
  background-color: rgba(83, 66, 240, .4);
}

.historyItem__place {
  vertical-align: middle;
}


/* Graph */

.graph {
  margin: 0 auto 40px auto;
}